@import 'variables';


body, html{
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  width: 100%;
}

button:focus {
  outline: 1px #ffffffbf;
}

.banner {
  margin-top: 50px;

  .indexBanner {
      max-width: 100%;
  }

  .cityBanner{
    margin: auto;
    margin-left: 38%;
    margin-right: 38%;
    margin-bottom: 50px;
    width: 24%;
    height: 200px;
    z-index: 888;

    @media (#{$nh-smaller-than-desktop}) {

    }
  }

  .primary-title {
      margin: auto;
      margin-top: 60px;
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 70px;
      color: $secondaryColor;
  }
}

.nh-pull-right {
  float: right;
}

.nh-pull-left {
  float: left;
}

.nh-hide {
  visibility: hidden;
}

.nh-align-center {
  text-align: center;
}

.modal-dialog {
    top: 30%;
}

@media (#{$nh-smaller-than-tablet}) {
  .sm-hide {
    display: none;
  }
  .sm-visible {
    display: block !important;
  }
}

@media (#{$nh-smaller-than-desktop}) {
  .md-hide {
    display: none;
  }
  .md-visible {
    display: block !important;
  }
}

@media (#{$nh-gratter-than-tablet}) {
  .lg-hide {
    display: none;
  }
  .lg-visible {
    display: block !important;
  }
}
