@import './../../sass/variables';
@import './../../sass/nhStyles';

.card-display {
  border-top: 1px solid #adadad;
  border-right: 1px solid #adadad;
  border-radius: 8px;
  padding: 3%;
  width: 80%;
  background-color: #a7a7bf38;
  margin: 30px 0px;

  .expirationTag {
      float: right;
      margin: -40px 40px 0px 0px;
  }

  .number-name-tag {
    margin-top: 30px;
  }
}

.priceContainer {
  float: right;
  margin-top: -300px;
  margin-right: 110px;
  border-top: 1px solid $secondaryColor;
  border-right: 1px solid $secondaryColor;
  border-radius: 8px;
  padding: 3%;

  @media (#{$nh-smaller-than-desktophd}) {
    margin-right: 50px;
  }

  @media (#{$nh-smaller-than-desktop}) {
    padding: 3%;
    margin: 0% 30%;
    width: 38%;
  }

  @media (#{$nh-smaller-than-tablet}) {
    padding: 3%;
    margin: 0% 7%;
    width: 84%;
  }

  .priceTag {
    @media (#{$nh-smaller-than-tablet}), (#{$nh-smaller-than-desktop}) {
      h3 {
        float: left;
        font-size: 25px;
        margin-top: 6px;
      }
      h1 {
        float: right;
      }
    }
    h3 {
      color: $secondaryColor;
    }
    h1 {
      color: green;
    }
  }
}

.spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;

  @media (#{$nh-smaller-than-tablet}) {
    width: 100%;
    margin-top: 20%;
  }
}

.black-screen {
    top: 0px;
    bottom: 0px;
    width: 100%;
    position: absolute;
    opacity:0.5;
    background-color: Black;
}

.responseRecieved {
  text-align: center;
  margin-bottom: 50px;

  @media (#{$nh-smaller-than-tablet}) {
      margin-top: 20%;
  }
}

.banner {
  margin: 100px 0px 20px;
}

.bedIcon {
  width: 20px;
  margin-left: 20px;
}

.nh-tab-container {
  margin: auto;
  margin-bottom: 30px;
}
.nh-tab {
  margin: auto;
  margin-bottom: 30px;
}

.next-submit {
  float: right;
}

.previous-submit {
  float: left;
}

.active-tab {
  &.active {
    color: #ffffff;
    background-color: $primaryColor;
  }
}

.resize-none {
  resize: none;
}

.available {
  color: #42A948; /* green */
  margin: 20px;
  font-weight: bold;
}

.availability-btn {
  margin: 25px 120px;

  @media (#{$nh-smaller-than-desktop}) {
    margin: 40px 25%;
    width: 50%;
  }

  @media (#{$nh-smaller-than-tablet}) {
    margin: 0 auto;
    width: 100%;
  }

}


.not-available {
  color: $primaryColor;
  margin: 20px;
  font-weight: bold;
}

.validate {
  &.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  &.ng-invalid:not(form)  {
    border-left: 5px solid $primaryColor; /* red */
  }
}
