@import './../../sass/variables';

nav {
  background-color: $primaryColor;
  margin-bottom: 2%;

  button {
    color: white !important;
    border: 1px solid #ffffffbf;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5)
  }

  a {
    padding: 1% 2%;
    white-space: nowrap;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
  }
}
