@import './../../sass/variables';
@import './../../sass/nhStyles';


.secondary-title {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
    font-size: 60px;
    color: $secondaryColor;

    @media (#{$nh-smaller-than-tablet}) {
      width: 100%;
      font-size: 38px;
      margin-top: 35px;
      margin-bottom: 25px;
    }
}

.thumbnailContainer {
  margin-bottom: 70px;
  max-width: 100%;
  border: 1px solid $secondaryColor;

  .thumbnailImg {
    max-width: 100% ;
  }

  .thumbnailCaption {
    font-size: 18px;
    margin: 15px;
    color: $secondaryColor;
  }
}
