<div class="banner sm-hide lg-visible">
  <h1 class="primary-title">Nuevo Hotel City</h1>
  <img src="{{ASSETS_PATH}}citySkyline.png" class="cityBanner sm-hide lg-visible" alt="">
  <img class="indexBanner sm-hide lg-visible" src="{{ASSETS_PATH}}indexBanner.jpg" alt="">
</div>


<div class="container">
  <h1 class="secondary-title">Nuestros Servicios</h1>

  <div class="row">
    <div class="col-lg-4">
      <div class="thumbnailContainer rounded-top rounded-bottom">
        <img class="thumbnailImg rounded-top" src="{{ASSETS_PATH}}room-queenSize.jpg" alt="">
        <p class="thumbnailCaption">Comodas instalaciones para viajar solos, solas o en pareja</p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="thumbnailContainer rounded-top rounded-bottom">
        <img class="thumbnailImg rounded-top" src="{{ASSETS_PATH}}breakfast.jpg" alt="">
        <p class="thumbnailCaption">Desayuno variado para comenzar su estadia de la mejor manera</p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="thumbnailContainer rounded-top rounded-bottom">
        <img class="thumbnailImg rounded-top" src="{{ASSETS_PATH}}room-family.jpg" alt="">
        <p class="thumbnailCaption">Tambien contamos con habitaciones para viajes en familia o grupos</p>
      </div>
    </div>

  </div>
</div>
